
 <div class="table-container">
    <div class="container mt-5">
        <table class="table table-striped custom-table">
            <thead class="thead-dark">
                <tr>
                    <th>Task Id</th>
                    <th>Task Title</th>
                    <th>Task Description</th>
                    <th>Task Deadline</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t1 of tasks">
                    <td>{{t1.taskid}}</td>
                    <td>{{t1.title}}</td>
                    <td>{{t1.description}}</td>
                    <td>{{t1.date}}</td>
                    <td>{{t1.status}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm me-2" (click)="deletetask(t1.taskid)">Delete</button>
                        <button class="btn btn-warning btn-sm" (click)="updatetask(t1.taskid)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-primary" (click)="createtask(username)">Add New Task</button>
        </div>
    </div>
</div>

    
    
    
